.checkoutButton:not(:disabled):hover {
  border-color: #b9a36e;
  background-color: #d8d4cf;
  color: #464248;
}

.reviewCheckoutButton:not(:disabled):hover {
  border-color: #b9a36e;
  background-color: #d8d4cf;
  color: #464248;
}

.checkoutButton:not(:disabled):active {
  border-color: #718d7f;
  background-color: #718d7f;
  transform: scale(0.99);
}
